<!DOCTYPE html>
<html>
<head>
	<title>guitarjosses's Blog</title>
</head>
<body>
	<div>
		<h1><a href="">guitarjosses's Blog</a> </h1>
	</div>
	<div>
		<p>Published: 10-04-2018,09:31 a.m</p>
		<h2><a href="">Mi primer post</a></h2>
		<p>
			Este post esta dedicado a hablar sobre las bondades del framework django, esta herramienta de desarrollo de aplicaciones web es multiplataforma lo que significa que puede ser usado en Windows, Linux, Mac y Solaris.
		</p>
	</div>

	<div>
		<p>Publicado: 10-04-2018, 09:36 a.m</p>
		<h2><a href="">Mi Segundo Post</a></h2>
		<p>
			Este articulo pretende explicar las bondades del uso de un motor de base de datos para persistir la informacion ingresada en un aplicativo web, para dicha explicación nos basaremos en el motor de base de datos PostrgreSQL.
		</p>
	</div>
	
</body>
</html>